<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search City" name="city" [(ngModel)]="cityName">
  </form>
</div>

<div class="container" *ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/images/hot.jpg" *ngIf="weatherData.main.temp > 15" alt="hot weather image">
    <img src="../assets/images/cold.jpg" *ngIf="weatherData.main.temp < 15" alt="cold weather image">

    <div class="weather-data">
      <div class="location">{{weatherData.name}}</div>
      <div class="temperature">{{ weatherData.main.temp | number: '1.0-0'}}°C</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <fa-icon class="icon" [icon]="faTemperatureEmpty"></fa-icon>
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_min | number: '1.0-0'}}°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <fa-icon class="icon" [icon]="faTemperatureFull"></fa-icon>
          <span><i class="fa-thin fa-temperature-high"></i>max</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_max | number: '1.0-0'}}°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <fa-icon class="icon" [icon]="faDropletDegree"></fa-icon>
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.humidity}}%
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <fa-icon class="icon" [icon]="faWind"></fa-icon>
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{weatherData.wind.speed}} km/h
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
